html, body {
  height: 100%;
  width: 100%;
  margin:0px;
}

@font-face {
  font-family: "NightZone";
  src: url("../../fonts/NightZone.ttf")format('truetype');
}

@font-face {
  font-family: "coolvetica";
  src: url("../../fonts/coolvetica.otf")format('opentype');
}

@media only screen and (min-width: 500px) {

.hidden{
    display:none;
}

#mobile{
  display:none;
}

.desktop{
  display:flex;
}
html {
  overflow: hidden;
  height: 100%;
}

#seperatetop{
  width:70%;
  margin-left:30vw;
  height:15vh;
}

#seperatebottom{
  height:10vh;
  width:100%;
}

#consection{
  display: flex;
  flex-direction:row;
  background-color: #008dd2;
  width:100%;
  height:75vh;
  background-image: url(../assets/homepage/bg_mobile.png) ;
  justify-content: space-between;
}

#con-photo{
  display: flex;
  flex-direction: column;
  z-index:3;
  justify-content: center;
  margin-left: 5vw;
  flex: 1;
}

.con-pictures{
  width: 60%;
  min-width: 100px;
  max-width: 400px;
}

.con-pictures:nth-of-type(2) {
  margin-top: 3vh;
}

.con-button{
  width: 125px;
  height: 50px;
  border-radius: 2vh;
  margin-bottom: 1vh;
  background-color: transparent;
  border-color: #ffffff;
  color: #ffffff;
  border-width: 0.5vh;
  font-family: 'coolvetica','coolvetica',serif;
  font-size: 3vh;
}

#button1 {
  background-color: #EF7F1A;
}

#con-choose{
  display: flex;
  flex-direction: row;
  margin-right: 5vw;
  z-index: 3;
  flex: 1;
}

#con-buttons{
  display:flex;
  flex-direction: column; 
  margin-left: 0vw;
  margin-right: 1vw;
  margin-top: 7.5vh;
}

#con-paragraph{
  display: flex;
  border-radius: 1vh;
  background-color: #68b436;
  width: 44vw;
  height: 60vh;
  margin-top: 7.5vh;
  margin-left: 0vw;
}

#paragraph1{
  margin: auto;
  line-height: 2.5vw;
}

.con-info-title{
  font-family: 'coolvetica','coolvetica',serif;
  color: #ffffff;
}

#paragraph2{
  width:30vw;
  margin: auto;
  margin-top: 5vh;
}

#paragraph3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}
#con-gifts {
  position: relative;
  top: 20px; /* Adjust the top position as needed */
  left: 30px; /* Adjust the left position as needed */
}
#con-gifts{
  text-align:right;
  color:#ffffff;
  font-family:'coolvetica','coolvetica',serif;
  margin-right:30px;
  position:relative; 
  bottom:325px;
}
#con-pointz{
  text-align:right;
  color:#ffffff;
  font-family:Arial, Helvetica, sans-serif;
  margin-right:30px;
  position:relative; 
  bottom:550px;
}
#con-c-title{
  color: #ffffff;
  font-size: 3vh;
  text-align: center;
}
#con-ushop{
  color:#ffffff;
  font-size: 3vh;
  margin-left:10px;
}
#img_shoplogo{
  margin-right:10px;
  margin-top:30px;
  margin-left:10px;
}
#img_handmouse{
  display: block;
  margin-left: auto;
  margin-right: auto;
  position:relative; 
  right:-185px;
  bottom:275px
}
#img_heart{
  display: block;
  margin-left: auto;
  margin-right: auto;
  position:relative; 
  left:225px; 
  bottom:250px;
}
#img_gift{
  display: block;
  margin-left: auto;
  margin-right: auto;
  position:relative; 
  left:250px; 
  bottom:590px
}

#con-c-form1{
  display:flex;
  flex-direction:row;
  height: 20vh;
}

.con-c-ft{
  font-size: 2vh;
  padding-top: 0.2vh;
  padding-bottom: 0.2vh;
  margin-bottom:2.5vh;
  color: #ffffff;
  
}

#con-c-form-form{
  margin-left: 1.5vw;
  height:10vh;
}

.con-c-ff{
  width: 21vw;
  background-color: #68b436;
  border-radius: 0.5vh;
  border-color: #ffffff;
  height:4vh;
  margin-top:0;
  margin-bottom:2vh;
  border:2px solid #ffffff;
}

input::placeholder {
  color: #FFFFF7;
}

.con-c-support {
  display: flex;
  flex-direction: column;
  width: 40vw;
}

.con-c-support-up {
  display: flex;
}

.con-c-support-down {
  display: flex;
}

.con-c-support input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.con-c-support label {
  display: inline-block;
  background-color: transparent;
  padding: 10px 30px;
  font-family: sans-serif, Arial;
  font-size: 3vh;
  border: 2px solid #ffffff;
  border-radius: 1vh;
  text-align: center;
  margin-top: 5px;
}

.con-c-support input[type="radio"]:checked + label {
background-color:#008DD2;
border-color: #4c4;
}

#con-c-support-down{
  margin-top: 2vh;
}

.con-csud{
  width: 5vw;
  color: #ffffff; 
  font-weight: bold;
}

.con-csud:hover {
  cursor: grab;
}

#con-c-next1{
  background-color: #ea0f81;
  color: #ffffff;
  margin-top: 2vh;
  border:0px;
  border-radius: 1vh;
  width: 75px;
  height:40px;
  font-family: 'coolvetica','coolvetica',serif;
}
#con-c-next5{
  background-color: #ea0f81;
  color: #ffffff;
  margin-top: 2vh;
  border:0px;
  border-radius: 1vh;
  width: 5vw;
  height:5vh;
  font-family: 'coolvetica','coolvetica',serif;
  left:10px; 
  bottom:590px;
}

#con-c-next5 {
  position: absolute;
  left: 1100px;
  top: 500px;
}

#con-c-next2{
  background-color: #ea0f81;
  color: #ffffff;
  margin-top: 2vh;
  border:0px;
  border-radius: 1vh;
  width: 5vw;
  height:5vh;
  font-family: 'coolvetica','coolvetica',serif;
  left:10px; 
  bottom:590px;
}

#con-c-next2 {
  position: absolute;
  left: 1100px;
  top: 500px;
}

#con-c-page2 {
  padding-top: 25%;
}

#con-c-form2 {
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
}

#con-c-form2 input {
  appearance: none;
  padding: 5px 5px;
  border: 1px solid #fff;
  border-radius: 2px;
  background-color: #68b436;
}

#con-c-form2 input:checked {
  background-color: #fff;
}

.buttons2 {
  margin-top: 5%;
  margin-left: 33%;
}

#con-c-previous2, #con-c-next2 {
  background-color: #ea0f81;
  color: #ffffff;
  border:0px;
  border-radius: 1vh;
  width: 75px;
  height:40px;
  font-family: 'coolvetica','coolvetica',serif;
}

#con-c-form3 {
  display:flex;
  flex-direction:row;
}

.con-c-cinfo {
  display: flex;
  flex-direction: row;
  margin-top: 1vh;
  gap: 0.5vw;
}

#con-c-months {
  width: 10vw;
  height: 4vh;
  margin-left: 2.5vw;
  border: 2px solid #fff;
  background-color: #68b436;
  border-radius: 5px;
  color: #fff;
}

#con-c-years {
  height: 4vh;
  border: 2px solid #fff;
  background-color: #68b436;
  border-radius: 5px;
  color: #fff;
}

.con-c-cvc{
  width: 3.5vw;
  background-color: #68b436;
  border-radius: 0.5vh;
  border-color: #ffffff;
  height: 4vh;
  border:2px solid #ffffff;
  margin-bottom: 10vh;
}

.buttons3 {
  margin-left: 10vw;
}

#con-c-previous3, #con-c-next3 {
  background-color: #ea0f81;
  color: #ffffff;
  border:0px;
  border-radius: 1vh;
  width: 75px;
  height:40px;
  font-family: 'coolvetica','coolvetica',serif;
}

#con-c-page4 h1 {
  font-size: 5vh;
  margin-top: 1vh;
  font-weight: bold;
}

#shop-button {
  background-color: #ea0f81;
  color: #ffffff;
  border:0px;
  border-radius: 1vh;
  width: 125px;
  height:40px;
  font-family: 'coolvetica','coolvetica',serif;
  margin-left: 10vw;
  margin-top: 5vh;
}

#con-bg{
  border-bottom: 75vh solid #ea0f81;
	border-left: 0px solid transparent;
	border-right: 50vh solid transparent;
	height: 0;
	width: 50vw;
  position: absolute;
  z-index:2;
  flex: 1;
}

footer{
  background-color: #ea0f81;
  width: 100%;
  height:10vh;
  align-items: left;
  margin:0;
  float: left;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10;
}

#partner{
  margin-left: 1vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#powerbyt{
  font-family: 'coolvetica','coolvetica',serif;
  color: white;
  font-size: 5vh;
  font-weight: 2;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.sponsor{
  height: 8vh;
  width: auto;
  margin: auto;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

#listbar {
  list-style: none;
  margin: 0;
  padding: 0;
}

#listbar li {
  display:inline-flex;
  margin-right:2px;
  height: 20vh;
  width: auto;
}


@media only screen and (max-width: 500px) {

  #desktop{
    display:none;
  }

  .hidden{
    display: none;
  }

  #menu-phonebar{
      width:100%;
      height:18vh;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      background-color: #ef7f1a;
  }

  #menu_homebutton{
    background-color: transparent;
    border-color: transparent;
  }

  #menu-bar-logo{
    margin-top: 2.5vh;
    height:13.5vh;
  }

  #menu_signinbutton{
    width:20vw;
    background-color: transparent;
    border-color: transparent;
  }

  #menu-signin{
    width: 20vw;
  }

  #menu_bar_menubutton{
    margin-top: 2.5vh;
    height:13.5vh;
    background-color: transparent;
    border-color: transparent;
  }

  #menu-menuimage{
    height:13.5vh;
  }

  #menu-button{
    background-color: white;
  }

  .menu-option{
    width: 100%;
    height:16.4vh;
    margin:0;
    border-width: 0px;
    background-color: #ef7f1a;
  }

  .menu-images{
    height:15vh;
  }

  #con-phonebar{
    width:100%;
    height:18vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #ef7f1a;
  }

  #con-bar-logo{
    margin-top: 2.5vh;
    height:13.5vh;
  }

  #con-firstpage{
    background-color: #008dd2;
    background-image: url(../assets/homepage/bg_mobile.png) ;
    height:75vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
  }

  .con-m-buttons{
    width:40vw;
    height:8vh;
    border-radius: 2vh;
    margin-bottom: 1vh;
    background-color: transparent;
    border-color: #ffffff;
    color: #ffffff;
    border-width: 0.5vh;
    font-family: 'coolvetica','coolvetica',serif;
    font-size: 3vh;
    margin-left: 30vw;
  }

  #con-infopage{
    height:75vh;
    background-color: #008dd2;
    background-image: url(../assets/homepage/bg_mobile.png) ;
  }

  #ci-top{
    display: flex;
    flex-direction: row;
    height:10vh;
    justify-content: space-around;
  }

  #ci-content{
    width: 75vw;
    margin-left: 12.5vw;
    background-color: #68b436;
    border-radius: 3vh;
  }

  #con-conpage{
    height:75vh;
    background-color: #008dd2;
    background-image: url(../assets/homepage/bg_mobile.png) ;
  }

  #cc-top{
    display: flex;
    flex-direction: row;
    height:10vh;
    justify-content: space-around;
  }

  #cc-content{
    width: 75vw;
    margin-left: 12.5vw;
    background-color: #68b436;
    border-radius: 3vh;
  }

  #con-merchpage{
    height:75vh;
    background-color: #008dd2;
    background-image: url(../assets/homepage/bg_mobile.png) ;
  }

  #cm-top{
    display: flex;
    flex-direction: row;
    height:10vh;
    justify-content: space-around;
  }

  #cm-content{
    width: 75vw;
    margin-left: 12.5vw;
    background-color: #68b436;
    border-radius: 3vh;
  }

  .con-title{
    color:#fff;
    font-size: 5vh;
    font-family: 'coolvetica','coolvetica',serif;
    margin-top: 1.7vh;
  }
  .con-back{
    width:25vw;
    height:8vh;
    border-radius: 2vh;
    background-color: #ef7f1a;
    color:#fff;
    border-width: 0vh;
    font-family: 'coolvetica','coolvetica',serif;
    font-size: 3vh;
    margin-left: 30vw;
    margin-top: 1vh;
  }

  footer{
    width:100%;
    height:7vh;
    background-color: #ea0f81;
    align-items: left;
    margin:0;
    float: left;
    position: fixed;
    bottom: 0;
    right: 0;
  }

  #powerbyt{
    font-family: 'coolvetica','coolvetica',serif;
    color: #ffffff;
  }

  #partner{
    margin-left:5vw;
    display:flex;
    flex-direction: row;
    margin-top: 1vh;
  }

  .sponsor{
      height: 5vh;
      width: auto;
      margin: auto;
  }
}
}