@media only screen and (min-width:500px) {

hr{
z-index: 1;
}

#bar{
    display:flex;
    flex-direction: row;
    background-color: orange;
    width: 100%;
    height: 15vh;
    position:fixed;
    top:0;
    left:0;
    z-index: 4;
}
  
.bar-smallbaricon{
  width:20vh;
  height:auto;
}

.bar-bigbaricon{
  width: 15vh;
  height: auto;
}

.bar-button{
  border: 0vh;
  padding:0vh;
  height:13vh;
  width:10vw;
  /* padding-top: 0;  */
  position: absolute;
  left: 2vw;
  background-color: transparent;
}

#bar-bulogo{
  width:12.5vw;
  height:auto;
  /* margin-right: 10vw;
  margin-top: 1vh;
  margin-left:10vw; */
  background-color: transparent;
}

#bar-logobutton{
  background-color: transparent;
  border: 0vh;
  position: absolute;
  left: 8.75vw;
  padding: 0;
  height: 15vh;
}

#seperatetop{
  width:70%;
  margin-left:30vw;
  height:15vh;
}

#seperatebottom{
  height:10vh;
  width:100%;
}

footer{
  background-color: #ea0f81;
  width: 100%;
  height:10vh;
  align-items: left;
  margin:0;
  float: left;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 10;
}

#partner{
  margin-left:1vw;
  display:flex;
  flex-direction: row;
}

#powerbyt{
  font-family: 'coolvetica','coolvetica',serif;
  color: #fafafa;
  font-size: 5vh;
  font-weight: 2;
  margin-top: 1vh;
}

.sponsor{
  height: 8vh;
  width: auto;
  margin: auto;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

#listbar{
  list-style: none;
  margin: 0;
  padding: 0;
}

#listbar li{
  display:inline-flex;
  margin-right:2px;
  height: 20vh;
  width: auto;
}

}